#theme-autoswitch-edit #edit-date-until-month-wrapper,
#theme-autoswitch-edit #edit-date-from-month-wrapper
{
  float: left;
  width: 200px;
  clear: right;
}

#theme-autoswitch-edit #edit-date-until-day-wrapper,
#theme-autoswitch-edit #edit-date-from-day-wrapper
{
  float: left;
  width: 100px;
}

#theme-autoswitch-edit #edit-date-until-day-wrapper
{
  clear: left;
}

#theme-autoswitch-edit .clear
{
  width: 100%;
  clear: both;
}